:root {
  --black: #202020;
  --beige: #ECE8D7;
  --red:   #B41B06;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100vw;

  overflow-x: hidden;
}
body {
  padding: 40px;
  background-color: var(--black);
  background-image: url('/bg.png');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (max-width: 530px) {
  body {
    padding: 16px;
  }
}
